---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  .pagination .selected-page {
      color: #000;
      font-weight: bold;
      margin: 10px;
  }

  .pagination a {
      color: #bbb;
      margin: 10px;
  }

  a, a h2 {
    font-weight: 100;
    color: #636363;
  }
  a:hover {
      text-decoration: none;
      color: #636363;
  }

  .post.center {
      text-align: center;
  }

  .site-title, .site-title:visited {
    color: #fff;
  }

  .site-header {
    background-color: #000;
  }

  .trigger .page-link {
    color: #fff
  }

  .wrapper-center {
    text-align: center;
  }
  .home {
    background-color: #fff;
    border: 1px solid #efefef;
    padding: 20px;
    color: #6f6f6f;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin-top: 50px;
  }

  body {
    letter-spacing: -1px;
  }
  .post-title.p-name {
    text-align: center;
  }
  .post-content {
      background-color: #fff;
      border: 1px solid #efefef;
      padding: 40px;
      margin-bottom: none;
  }

  .post-content h1, .post-content h2, .post-content h3 {
    margin: 30px 0;
}
